#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"admin"/}

  <section class="ui segment">
  <h2 class="ui header">
    All Known Readings in the Database:
  </h2>
  <table class="ui fixed table">
    <thead>
      <tr>
        <th>Date </th>
        <th>Code</th>
        <th>Temperature</th>
        <th>Wind Speed</th>
        <th>Wind Direction</th>
        <th>Wind Pressure</th>
      </tr>
    </thead>
    <tbody>
      #{list items:readings, as:'reading'}
        <tr>
          <td>
            ${reading.date}
          </td>
          <td>
            ${reading.code}
          </td>
          <td>
            ${reading.temperature}
          </td>
          <td>        
            ${reading.windSpeed}
          </td>
          <td>
            ${reading.windDirection}
          </td>
          <td>
            ${reading.windPressure}
          </td>
        </tr>
      #{/list}
    </tbody>
  </table>
</section>

